.root {
  -fx-background-color: #EEEEEE;
  --dark-gray: #464646;
  --light-blue: #72E8E1;
  --board-color-A: #BEDDDB;
  --board-color-B: #97CDC9;
}

/*
Opening View
*/
#opening-text {
  -fx-font-size: 48;
  -fx-font-family: "Montserrat";
  -fx-fill: var(--dark-gray);
}

#game-text {
  -fx-alignment: center;
}

#opening-button-layout, #opening-button-row{
  -fx-spacing: 20;
  -fx-alignment: center;
}

#opening-button {
  -fx-font-family: "Montserrat";
  -fx-font-size: 17;
  -fx-fill: #464646;
  -fx-alignment: center;
  -fx-max-width: 120;
  -fx-min-width: 120;
  -fx-max-height: 45;
  -fx-min-height: 45;
}

/*
Game View
*/

#game-view-root {
  -fx-padding: 10;
}

#pause-message-text {
  -fx-font-size: 20;
  -fx-font-family: "Montserrat";
  -fx-fill: #72E8E1;
}

#pause-root {
  -fx-spacing: 5;
  -fx-background-color: rgba(70, 70, 70, 0.8);
  -fx-padding: 20;
  -fx-alignment: center;
}

#resume-button {
}

/*
Board View
*/
#board-foundation {
  -fx-fill: var(--board-color-A);
}
