.boardPane{
    -fx-background-color: #FFFFFF;
    -fx-alignment: center;
}

.languageBox{
    -fx-border-color: #fcba03;
    -fx-border-width: 2px;
    -fx-background-color: #fffaef;
}

.buttonHolder{
    -fx-border-color: #fcba03;
    -fx-border-width: 2px;
    -fx-background-color: #fffaef;
}