/* 1 Login */

.border-pane {
    position: relative;
    width: 949px;
    height: 822px;

    /* White */

    /* -fx-background-color: rgba(255, 250, 239, 1); */
    background: rgb(187, 25, 76);
}