/*.boardPane{*/
/*    -fx-background-color: #FFFFFF;*/
/*    -fx-alignment: center;*/
/*}*/

/*.languageBox{*/
/*    -fx-border-color: #fcba03;*/
/*    -fx-border-width: 2px;*/
/*    -fx-background-color: #fffaef;*/
/*}*/

.myWelcome{
    -fx-text-fill: black;
    -fx-font-size: 24;
    -fx-alignment: top-center;
}

.leftPanel{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, lightblue, darkblue);
}

.proceed{
        -fx-border-color: darkblue;
        -fx-border-width: 2px;
        -fx-background-color: #ffffff;
}

.buttonHolder{
    -fx-background: #ffffff;
}


