.myWelcome{
    -fx-text-fill: black;
    -fx-font-size: 24;
    -fx-font-family: "inter";
    -fx-alignment: center;
}

.image{
    -fx-alignment: center;
}

.proceed{
    -fx-background-color: #ffffff;
    -fx-background-radius: 30 30 30 30;
    -fx-text-fill: linear-gradient(from 25% 25% to 100% 100%, #4cca2b, #2bc1ca);
}
.elementHolder{
    -fx-background-color: linear-gradient(from 25% 25% to 100% 100%, #4cca2b, #2bc1ca);
}

